.switch-toggle_mobile {
  display: none;
}

@media screen and (max-width: 630px) {
  .switch-toggle_mobile {
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  .switch-toggle__name {
    font-size: 11px;
  }
}
