.movies-cards__item {
  background-color: #222222;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.movies-cards__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
}

.movies-cards__title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 9px;
}

.movies-cards__duration {
  color: #8b8b8b;
  font-size: 11px;
  font-weight: 400;
}

.movies-cards__favourite {
  background-color: #424242;
  background-image: url("../../images/movie-card/like.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
}

.movies-cards__favourite_active {
  background-image: url("../../images/movie-card/like-active.svg");
}

.movies-cards__favourite_saved {
  background-image: url("../../images/movie-card/like-saved.svg");
}

.movies-cards__link {
  display: block;
  margin-top: auto;
}

.movies-cards__image {
  width: 100%;
  object-fit: cover;
  height: 203px;
}
