.title-block {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 23px;
  position: relative;
}

.title-block::after {
  content: "";
  display: block;
  background-color: #dadada;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .title-block {
    font-size: 18px;
    padding-bottom: 28px;
  }
}
