.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: calc(100vh - 80px);
}

.profile__greeting {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 96px;
}

.profile__form {
  max-width: 410px;
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
}

.profile__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 500;
  padding-bottom: 16px;
  position: relative;
}

.profile__label:last-of-type {
  margin-bottom: 220px;
}

.profile__label:not(:last-of-type) {
  border-bottom: 1px solid #424242;
  margin-bottom: 17px;
}

.profile__input {
  color: #fff;
  border: none;
  background-color: transparent;
  text-align: right;
  font-weight: 400;
  padding: 0;
  outline: transparent;
  width: 80%;
}

.profile__input-error {
  bottom: 2px;
}

.profile__submit {
  background-color: #4285f4;
  border-radius: 3px;
  padding: 13px 5px 15px 5px;
  font-weight: 500;
  width: 100%;
}

.profile__submit_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}

.profile__input:disabled {
  opacity: 0.5;
}

.profile__input::placeholder {
  color: inherit;
}

.profile__logout,
.profile__edit {
  font-size: 13px;
}

.profile__edit_hidden,
.profile__logout_hidden,
.profile__submit_hidden {
  display: none;
}

.profile__logout {
  color: #ee3465;
  font-weight: 500;
}

.profile__error {
  color: #ff004c;
  text-align: center;
  font-size: 11px;
}

@media screen and (max-width: 768px) {
  .profile__label:last-of-type {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    justify-content: start;
    padding: 70px 30px 40px 30px;
  }

  .profile__label:last-of-type {
    margin-bottom: 380px;
  }

  .profile__logout,
  .profile__edit {
    font-size: 12px;
  }
}
