.about-student {
  padding: 110px 0;
}

.about-student__title {
  margin-bottom: 66px;
}

.about-student__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 101px;
}

.about-student__box {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  max-width: 600px;
  width: 100%;
}

.about-student__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 18px;
}

.about-student__profession {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 26px;
}

.about-student__description {
  flex-grow: 1;
  font-weight: 400;
  margin-bottom: 40px;
}

.about-student__link {
  font-weight: 500;
}

.about-student__image {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}

.about-student__portfolio {
  color: #8b8b8b;
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

.about-student__item {
  font-size: 30px;
  font-weight: 400;
  position: relative;
}

.about-student__item:not(:last-child)::after {
  content: "";
  display: block;
  background-color: #424242;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
}

.about-student__item:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 19px;
}

.about-student__item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.about-student__arrow {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .about-student {
    padding: 90px 0;
  }

  .about-student__box {
    margin-right: 20px;
  }

  .about-student__name {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .about-student__profession {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .about-student__description {
    font-size: 12px;
    font-weight: 400;
  }

  .about-student__image {
    width: 255px;
    height: 307px;
  }

  .about-student__item {
    font-size: 28px;
  }
}

@media screen and (max-width: 668px) {
  .about-student__wrapper {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .about-student__box {
    margin-right: 0;
  }

  .about-student__image {
    object-position: top 20px;
    width: 100%;
    height: 307px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .about-student {
    padding: 70px 0;
  }

  .about-student__title {
    margin-bottom: 60px;
  }

  .about-student__name {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about-student__profession,
  .about-student__description {
    font-size: 11px;
  }

  .about-student__image {
    height: 352px;
  }

  .about-student__portfolio {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .about-student__item {
    font-size: 17px;
  }

  .about-student__item-link::after {
    width: 11px;
    height: 10px;
  }

  .about-student__arrow {
    width: 11px;
    height: 10px;
  }
}
