.main-form {
  padding: 70px 0;
}

.main-form__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 396px;
  width: 100%;
}

.main-form__title {
  font-size: 24px;
  margin-bottom: 40px;
}

.main-form__form {
  display: flex;
  flex-direction: column;
}

.main-form__label {
  color: #8b8b8b;
  display: block;
  font-size: 10px;
  margin-bottom: 10px;
  position: relative;
}

.main-form__label:not(:last-of-type) {
  margin-bottom: 20px;
}

.main-form__label:last-of-type {
  margin-bottom: 91px;
}

.main-form__input {
  background-color: #2f2f2f;
  border-radius: 8px;
  border: none;
  color: #fff;
  display: block;
  outline: transparent;
  padding: 15px;
  font-size: 13px;
  margin-top: 10px;
  width: 100%;
}

.main-form__input_error {
  color: #ee3465;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 0 1000px #2f2f2f;
}

.main-form__input::placeholder {
  color: #fff;
}

.main-form__error {
  text-align: center;
  margin-bottom: 10px;
}

.main-form__submit {
  background-color: #4285f4;
  border-radius: 3px;
  padding: 13px 5px 15px 5px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 16px;
}

.main-form__submit_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}

.main-form__submit:disabled {
  cursor: default;
}

.main-form__submit:disabled:hover {
  pointer-events: none;
}

.main-form__answer {
  color: #8b8b8b;
  text-align: center;
}

.main-form__sign {
  color: #4285f4;
}

.input-error {
  color: #ee3465;
  display: block;
  font-size: 10px;
  margin-top: 10px;
  min-height: 12px;
  line-height: 1;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.input-text-error {
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .main-form {
    padding: 232px 0;
  }
}

@media screen and (max-width: 480px) {
  .main-form {
    padding: 56px 0 30px 0;
  }

  .main-form__title {
    text-align: center;
    margin-bottom: 80px;
  }

  .main-form__label:last-of-type {
    margin-bottom: 179px;
  }
}
